.modal__button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    top: 8px;
    right: 8px;

    background: var(--secondary-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__icon{
    fill: #000000;

    transition: var(--animation);

    &:hover{
        fill: var(--text-accent)
        }
}

